.h1 {
  font-size: 140px;
  line-height: 1.1;
  font-weight: 800;

  @media(max-width: 1920px) {
    font-size: 70px;
    line-height: 1.2;
  }

  @media(max-width: 992px) {
    font-size: 48px;
  }
}

.h2 {
  font-size: 60px;
  line-height: 1.2;

  @media(max-width: 1920px) {
    font-size: 30px;
  }
}

.h3 {
  line-height: 1.2;
  font-size: 56px;

  @media(max-width: 1920px) {
    font-size: 28px;
  }

  @media(max-width: 992px) {
    font-size: 24px;
  }
}

.h5 {
  font-size: 44px;
  font-weight: 700;

  @media(max-width: 1920px) {
    font-size: 22px;
  }

  @media(max-width: 768px) {
    font-size: 14px;   
  }
}

.link {
  font-size: 40px;
  line-height: 1.2;
  color: $cText;
  font-weight: 700;
  
  transition: color .2s linear;

  &:hover {
    color: $cLink;
  }

  @media(max-width: 1920px) {
    font-size: 20px;
  }
}

.button-text {
  font-size: 44px;
  font-weight: 700;

  @media(max-width: 1920px) {
    font-size: 22px; 
  }
}
