.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 28px;
  border: 1px solid $cLink;
  background-color: #0F0F0F;
  width: fit-content;  

  padding: 8px 24px;

  transition: background-color .2s linear,;

  &:hover {
    background-color: $cLink;
  }
}

.section-title {
  margin-bottom: 80px;
  position: relative;

  &::after {
    content: '';

    position: absolute;
    top: calc(100% + 12px);
    left: 0;

    border-radius: 4px;
    width: 54px;
    height: 7px;
    background-color: $cPrimary;

    display: block;
  }
}
