// Colors
$cPrimary: #E42C2C;
$cText: #FFFFFF;
$cBg: #1B1B1B;
$cLink: #E80000;
$cBgSection: #242424;

// Font Families
$ffMain: "Roboto", sans-serif;
$ffSecondary: "Inter", sans-serif;
$ffBeauty: "Rochester", cursive;
