@import './fonts';
@import './variables';
@import './normalize';
@import './text-styles';
@import './ui';

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding: 32px 0;
  min-height: 136px;
  
  z-index: 1000;
  
  @media(max-width: 1920px) {
    min-height: 68px;
    padding: 16px 0;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.social ul {
  display: flex;
  gap: 8px;

  li {
    transition: transform .2s linear;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.header__navigation {
  @media(max-width: 768px) {
    display: none;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: 100vh;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.9);

    z-index: 100;
  }

  &.active {
    display: flex;  
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: 24px;

  @media(max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 12px;

    overflow-y: auto;
  }
}

/* Intro */
.intro {
  padding-top: 136px;

  @media(max-width: 1920px) {
    padding-top: 68px;
  }
  
  padding-bottom: 204px;
  margin-bottom: 0;

  background-color: $cBg;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(27, 27, 27, 1) 100%);
  
  overflow: hidden;
  position: relative;

  @media(max-width: 992px) {
    padding-bottom: 100px;  
  }

  &::after {
    content: '';

    height: 1300px;
    width: 500px;

    position: absolute;
    top: -550px;
    right: -200px;
    transform: rotate(35deg);

    background-image: url("https://w0.peakpx.com/wallpaper/671/307/HD-wallpaper-flutter-code-coder-dart-google-programming-thumbnail.jpg");
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
    border: 1px solid $cLink;

    display: block;
    border-radius: 342px;

    animation: pattern 5s linear infinite;

    @media(max-width: 992px) {
      height: 500px;
      width: 250px;
      top: -100px;
      right: -100px;
      transform: rotate(105deg)
    }

    @media(max-width: 768px) {
      left: -100px;
      right: auto;
      top: 0;
      animation: pattern768 5s linear infinite;
    }
  }
}

@keyframes pattern {
  0% {
    transform: scale(1) rotate(35deg); 
  }

  50% {
    transform: scale(1.1) rotate(35deg);
  }

  100% {
    transform: scale(1) rotate(35deg);
  }
}

@keyframes pattern768 {
  0% {
    transform: scale(1) rotate(105deg);
  }

  50% {
    transform: scale(1.1) rotate(105deg);
  }

  100% {
    transform: scale(1) rotate(105deg);
  }
}

.intro__inner {
  min-height: calc(100vh - 136px);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  z-index: 2;

  @media(max-width: 1920px) {
    min-height: calc(100vh - 68px);
  }

  @media(max-width: 768px) {
    justify-content: flex-end;
  }
}

.intro__content {
  width: 100%;
  max-width: 1000px;

  opacity: 0;
  
  @media(max-width: 1920px) {
    max-width: 550px;
    padding-bottom: 24px;
  }
}

.intro__suptitle {
  color: $cPrimary;
}

.intro__title {
  margin-bottom: 8px;
}

.intro__desc {
  margin-bottom: 40px;

  a {
    text-decoration: underline;
    color: $cLink;
  }

  @media(max-width: 992px) {
    margin-bottom: 20px;
  }
}

/* About */
.skills {
  margin: 0 auto;
  background: $cBgSection;
  border-radius: 28px;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 12px;

  position: relative;

  padding: 24px;
  
  @media(max-width: 768px) {
    flex-wrap: wrap;
    gap: 12px;
    padding: 12px;
  }

  &::before, &::after {
    content: '';
    position: absolute;

    display: none;

    @media(max-width: 768px) {
      display: block;
    }
  }

  &::before {
    width: 100%;
    height: 3px;
    background-color: #1a1a1a;

    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  &::after {
    height: 100%;
    width: 3px;
    background: linear-gradient(180deg, #070707 0%, #1B1B1B 100%);

    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  opacity: 0;

  @media(max-width: 768px) {
    flex-basis: 45%; 
    width: 45%;
    padding: 6px;
  }

  img { 
    height: 80px; // УБРАТЬ ПОСЛЕ ЗАМЕНЫ КАРТИНОК !

    @media(max-width: 768px) {
      height: 60px;
    }
  }
}

/* What I Do */
.stack {
  margin-bottom: 216px;

  @media(max-width: 768px) {
    margin-bottom: 120px;   
  }
}

.uses {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 auto;
  max-width: 1200px;
  
  @media(max-width: 1920px) {
    max-width: 800px;
  }
}

.use {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: $cText;

  opacity: 0;

  min-width: 150px;
  min-height: 150px;
  
  @media(max-width: 1920px) {
    min-width: 100px;
    min-height: 100px;
  }

  @media(max-width: 768px) {
    width: 64px;
    height: 64px;
       
  }

  span {
    font-family: $ffSecondary;
    color: #373737;
    font-size: 15px;
    font-weight: 600;
  }
}

/* Numbers */
.numbers {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 130px;
  padding: 48px 16px;
  width: 75%;

  position: relative;

  @media(max-width: 992px) {
    width: 90%;
    gap: 64px;
  }

  @media(max-width: 768px) {
    width: 100%;
    gap: 32px; 
  }

  &::before, &::after {
    content: '';

    width: 20%;
    height: 100%;

    display: block;

    position: absolute;
  }

  &::before {
    bottom: 0;
    left: 0;

    border-left: 1px solid $cText;
    border-bottom: 1px solid $cText;
  }

  &::after {
    top: 0;
    right: 0;

    border-right: 1px solid $cText;
    border-top: 1px solid $cText;
  }
}

.number {
  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;

  @media(max-width: 768px) {
    .h2 {
      font-size: 14px;
    }  
  }

  span {
    font-weight: 800;
    font-size: 110px;
    color: $cPrimary;

    @media(max-width: 768px) {
      font-size: 48px;
    }
  }
}

/* Projects */
.projects {
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px; 
    opacity: 0;

    img {
      height: 500px;
      width: auto;
    }

    span {
      font-size: 25px;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
    font-size: 0;
    display: block;
    width: 16px;
    height: 16px;
    z-index: 2;

    background-repeat: no-repeat;

    @media(max-width: 768px) {
      top: calc(100% + 24px); 
    }
  }

  .slick-prev {
    right: calc(100% + 12px);
    background-image: url(../img/slider-arrow-left.svg);

    @media(max-width: 768px) {
      left: calc(50% - 12px);
      right: auto;
      transform: translateX(-50%);
    }
  }

  .slick-next {
    left: calc(100% + 12px);
    background-image: url(../img/slider-arrow-right.svg);

    @media(max-width: 768px) {
      right: calc(50% - 12px);
      left: auto;
      transform: translateX(50%);
    }
  }

  .slick-disabled {
    opacity: 0.5;
    cursor: default;
  }
}

/* Footer */
footer {
  padding: 60px 0;
  background-color: $cBg;
  background: linear-gradient(180deg, rgba(27, 27, 27, 1) 0%, rgba(0, 0, 0, 1) 100%);
} 

.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  span {
    font-family: $ffBeauty;
    font-size: 70px;  

    @media(max-width: 1920px) {
      font-size: 35px;
    }
  }
}

/* Project */
.app {
  padding-top: 200px;

  @media(max-width: 1920px) {
    padding-top: 132px;
  }
}

.app__inner {
  background-color: #2B2B2B;
  border-radius: 45px;
  gap: 24px;

  padding: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;

  @media(max-width: 992px) {
    flex-direction: column-reverse;
    padding: 24px;
  }
}

.app__info {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media(max-width: 1440px) {
    flex-basis: 20%;
  }

  @media(max-width: 992px) {
    flex-basis: 100%;
  }
}

.app__suptitle {
  color: $cPrimary;
  font-size: 36px;

  @media(max-width: 1440px) {
    font-size: 20px;
  }
}

.app__title {
  font-weight: 500;
  max-width: 500px;

  @media(max-width: 425px) {
    font-size: 40px;
  }
}

.app__photos {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-bottom: 48px;
  flex-basis: 50%;

  @media(max-width: 1440px) {
    flex-basis: 60%;
  }

  @media(max-width: 992px) {
    flex-basis: 100%;
    max-width: 100%;
    gap: 8px;
  }

  @media(max-width: 425px) {
    flex-wrap: wrap;
    padding-bottom: 12px;
  }

  img {                
    &:last-child {
      position: relative;
      top: 48px;

      @media(max-width: 425px) {
        position: static;
      }
    }

    @media(max-width: 768px) {
      max-width: 132px;
    }
  }
}

.project-description {
  font-weight: 500;
  
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-bottom: 40px;

  opacity: 0;
}

// Project description
.desc__inner {
  display: flex;
  justify-content: space-between;

  @media(max-width: 768px) {
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
  }
  
  >div {
    flex-basis: 50%;
    opacity: 0;

    h2 {
      margin-bottom: 40px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    li {
      padding-left: 24px;
      position: relative;
      font-size: 36px;

      @media(max-width: 1440px) {
        font-size: 24px;
      }

      @media(max-width: 992px) {
        font-size: 20px;
      }

      &::before {
        content: '';

        position: absolute;
        top: 5px;
        left: 0;

        width: 15px;
        height: 15px;

        background-image: url(../img/li.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

